/*************************************** COMMON **************************************/
.c-middle {
    display: table-cell;
    vertical-align: middle;
}

.c-left {
    float: left;
}

.c-right {
    float: right;
}

.c-scroll-x {
    overflow-x: auto;
}

.c-scroll-y {
    overflow-y: auto;
}

/**************************LOGIN PAGE**************************/
.login {
    background-image: url(../images/square.gif);
    color: #333333;
    opacity: 0;
}

.login .title {
    margin-top: 30px;
    font: 500 80px/100px 'source_sans_probold';
    text-align: center;
    color: #555555;
}

.login .login-window {

}

/**************************MAIN PAGE**************************/
.main {
    background-image: url(../images/square.gif);
    font-family: 'axelregular', sans-serif;
    color: #333333;
    opacity: 0;
}

.app-header {
    font: 500 40px/80px 'source_sans_probold';
    text-align: center;
    background: #F1495B;
    color: #FFFFFF;
}

.navigation {
    background: #38404A;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation-item {
    padding-left: 20px;
    color: #bababa;
    font: 600 18px/60px 'axelregular';
}

.navigation-item.x-view-item-focused {
    outline: 0 solid #313841 !important;
    outlinc-offset: -1px;
}

.navigation-item:hover, .navigation-item.active {
    background: #313841;
    color: #FFFFFF;
}

.navigation-item:hover {
    cursor: pointer;
}

.statics-section {
    width: 30%;
    float: left;
    padding: 20px;
    color: #666666;
    font: 500 40px/80px 'source_sans_probold';
}